* {
    /* border: 2px solid black; */
    margin: 0;
    padding: 0;
}

 :root {
    --footer-height: 80px;
}

html,
body {
    height: 100%;
}

.navbar {
    background-color: #2E4C6D;
}

.wrap {
    min-height: 100%;
    background-color: #396EB0;
}

.main {
    /* 有需要卷軸自動出現 */
    /* overflow: auto; */
    padding-bottom: var(--footer-height);
    /* this needs to be bigger than footer height*/
}

.footer {
    /* position: relative; */
    /* 負值往上長 */
    margin-top: calc(var(--footer-height) - var(--footer-height)*2);
    height: var(--footer-height);
    background-color: #FC997C;
    /* clear: both; */
}

.card-border {
    border-width: 0 0.5rem;
    border-style: solid;
    border-color: #396EB0;
    /* border-right: 1rem solid #396EB0 !important; */
}

.div-bg-color {
    background-color: #DADDFC;
}

.card {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    border-radius: 25px;
}

.card>p {
    align-self: center;
    flex-grow: 1;
    font-size: larger;
    font-weight: 500;
    word-break: break-all;
    white-space: normal;
}

.card>img {
    flex-grow: 9;
}